html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #77B2FF;
  height: 50vh;
  width: 100vw;
  color: whitesmoke;
}

.App {
  text-align: center;
  border: 2px solid hotpink;
}

.title {
  text-align: center;
  border: 2px solid white;
}

.add-prompt-div {
  border: 2px dotted white;
  text-align: center;
  font-size: large;
  font-style: italic;
}



