.card {
  box-sizing: border-box;
  border: 3px solid black;
  color: black;
  border-radius: 10px;
  padding: 10px;
  background-color: #EEEEFB;
  margin: 3px;

}

/* .card {
  text-align: left;
  border: black ridge 1px;
  border-radius: 10px;
  margin: 3px;
  width: 20rem;
  padding-left: 10px;
}
 */
